/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: #ffffff05;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 100vw;
}
.logo-principal img {
  width: 80px;
}
nav ul {
  background-color: #ffffff00;
  justify-content: flex-end;
  color: white;
  display: flex;
}
nav ul li {
  margin-left: 20px;
}
nav ul li:hover {
  text-decoration: underline;
}

principal-container {
  overflow: hidden;
  width: 100%;
}

.videoContain {
  position: relative;
  overflow: hidden;
}

.react-player {
  top: 0;
  left: 0;
}

/* .effect-blur {
  position: absolute;
  height: 100vh;
  width: 100vw;
} */

main {
  position: absolute;
  top: 0px;
}



header {
  color: #2f2f2f;
}

